body {
  margin:auto;
}

#jeopardy {
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 10px;
}

#jeopardy th {
  width: 200px;
  padding: 20px;
  border: solid 0.5px white;
}

#jeopardy td {
  width: 200px;
  padding: 20px;
  border: solid 0.5px white;
}

th {
  text-transform: uppercase;
  font-family: serif;
  font-weight: bold;
  height: 30px;
}

td {
  height: 80px;
  font-family: serif;
}